{% macro recurseTree(tree, labels, blog) %}
<ul>
    {% for label in tree.children %}
        <li><a href={{blog.url}}/labels:{{ labels == '' ? label.name : labels~','~label.name }}>{{ label.name }}</a>
            {% if label.children %}
               {{ _self.recurseTree(label, labels == '' ? label.name : labels~','~label.name, blog)}}
            {% endif %}
        </li>
    {% endfor %}
</ul>
{% endmacro %}

{% set labelTree = labeltree.getLabelTree() %}
{% if count(labelTree.children) > 0 %}
    {{ _self.recurseTree(labelTree, '', blog) }}
{% endif %}
